.input__wrapper {
  position: relative;
}

.input {
  outline: none;
}

.search-input {
  height: 52px;
  width: 50%;
  background-color: #5a5c66;
  padding: 18px 37px 16px 26px;
  border: none;
  color: #b2b7bf;
  font-size: 14px;
  font-weight: 400;
}

.search-input + .input__img {
  position: absolute;
  width: 21px;
  height: 21px;
  left: calc(50% - 15px - 21px);
  top: 15px;
}
