.main-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  padding: 10px;
}

.main-page__table-wrapper {
  height: 1106px;
  margin-top: 15px;
  margin-bottom: 16px;
}
