.table {
  border-collapse: collapse;
}

.main-page__table {
  width: 100%;
  max-width: 1077px;
  height: 1040px;
}

.table__cell.table__header-cell {
  background-color: #474955;
  color: #ffffff;
  border: 1px solid #474955;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}

.table__cell {
  border: 1px solid #e3e6ec;
  padding: 11px;
}

.main-page__table .table__cell:first-child {
  width: 110px;
  min-width: 80px;
}

.main-page__table .table__cell:nth-child(2) {
  width: 49%;
  min-width: 137px;
}

.main-page__table .table__cell:nth-child(3) {
  width: 40%;
  min-width: 133px;
}

.table__cell-content {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 500;
}

.main-page__table .table__cell:first-child .table__cell-content {
  justify-content: center;
}

.table__header-img {
  width: 12px;
  height: 6px;
  margin-left: 25px;
  cursor: pointer;
}

.table__cell.table__cell_empty {
  border: none;
  width: 100%;
}

.table__row.table__row_empty {
  width: 100%;
}
